<!DOCTYPE html>
<html>
<head>
 	<title>restaurants</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="510564801497-jfn38be8me88d2hhohvkqk5rju08681h.apps.googleusercontent.com">

</head>
<body>
	<div class="pane">
		<div class="restaurant-header">
		<div class="g-signin2" data-onsuccess="onSignIn"></div>
			<h1 class="header">My Restaurants</h1>
			<form action="{{url_for('searchItem')}}" method="POST">
				<input type="text" name="search" placeholder="search for">
				<input type="submit" name="search">
			</form>
		</div>
		<a class="add-restaurant" href="{{url_for('newRestaurant')}}">add restaurant</a>
		 <div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    </div>
		<form action="{{url_for('deleteMultipleRestaurants')}}" method="POST" id='deleteSelected'>
			<button>delete selected restaurants</button>
		</form>
		<form action="{{url_for('deleteAllRestaurants')}}" method="POST">
			<button type="submit" >delete All restaurants</button>
		</form>
		{% for restaurant in restaurants %}
		<div class="restaurant">
			<input type="checkbox" name="restaurant_id" value="{{restaurant.id}}" form="deleteSelected" ></input><a class="name" href="{{url_for('restaurantMenu',restaurant_id=restaurant.id,hilightFlag='')}}">{{restaurant.name}}</a><br>	
			<div class="restaurant-options">
				<button onclick="location.href='{{url_for('editRestaurant',restaurant_id=restaurant.id)}}'">Edit</button>
				<button onclick="location.href='{{url_for('deleteRestaurant',restaurant_id=restaurant.id)}}'">Delete</button>
			</div>
		</div>
		{% endfor %}
	</div>
	<script>
		function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  $('.g-signin2').after('<a href="#" onclick="signOut();" class="signOut">Sign out</a>');
  $('.g-signin2').after('<h> <font color="red">'+profile.getName()+'</font></h>');
  $('.g-signin2').remove();

	}
//	function addsignout(){//

//	}
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
     $('.signOut').after('<div class="g-signin2" data-onsuccess="onSignIn"></div>');
    $('.signOut').remove();
	}
	</script>
</body>
</html>