<!DOCTYPE html>
<html>
<head>
 	<title>restaurants</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
</head>
<body>
	<div class="pane">
		<div class="restaurant-header">
			<h1 class="header">My Restaurants</h1>
			<form action="{{url_for('searchItem')}}" method="POST">
				<input type="text" name="search" placeholder="search for">
				<input type="submit" name="search">
			</form>
		</div>
		<a class="add-restaurant" href="{{url_for('newRestaurant')}}">add restaurant</a>
		 <div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    </div>
		<form action="{{url_for('deleteMultipleRestaurants')}}" method="POST">
		<button>delete selected restaurants</button>
		<button type="submit" formaction="{{url_for('deleteAllRestaurants')}}">delete All restaurants</button>
		{% for restaurant in restaurants %}
		<div class="restaurant">
			<input type="checkbox" name="restaurant_id" value="{{restaurant.id}}" ></input><a class="name" href="{{url_for('restaurantMenu',restaurant_id=restaurant.id)}}">{{restaurant.name}}</a><br>	
			<div class="restaurant-options">
				<button onclick="location.href='{{url_for('editRestaurant',restaurant_id=restaurant.id)}}'">Edit</button>
				<button onclick="location.href='{{url_for('deleteRestaurant',restaurant_id=restaurant.id)}}'">Delete</button>
			</div>
		</div>
		{% endfor %}
		</form>
	</div>
</body>
</html>